<form [formGroup]="questionForm" class="question-form" (ngSubmit)="onSubmit()">
  <div>

    <div class="form-group">
      <label>Title</label>
      <input type="title" class="form-control" placeholder="Enter the title" formControlName="title"
      [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">
          Title is required</div>
        <div *ngIf="f.title.errors.maxlength">
          Title must be at most 30 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" placeholder="Enter the description" formControlName="description"
      [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.maxlength">
          Description must be at most 200 characters</div>
      </div>
      <hr class="solid">
    </div>

    <div formArrayName="questions" class="questions">
      <div *ngFor="let questTitle of questions?.controls; let i=index" [formGroupName]="i">
        <h3 class="text-center">{{i+1}} question</h3>
        <div class="form-group">
          <label>Question</label>
          <input type="title" class="form-control" placeholder="Enter the question" formControlName="question"
          [ngClass]="{ 'is-invalid': submitted && questions.controls[i].get('question')?.errors }">
          <div *ngIf="submitted && questions.controls[i].get('question')?.errors" class="invalid-feedback">
            <div *ngIf="questions.controls[i].get('question')?.errors?.required">
              Question is required</div>
            <div *ngIf="questions.controls[i].get('question')?.errors?.maxlength">
              Question must be at most 30 characters</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" style="background-color: #f16785;">Select the type of answers:</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName="typeAnswer"
          [ngClass]="{ 'is-invalid': submitted && questions.controls[i].get('typeAnswer')?.errors }">
            <option value="1">Choosing one answer option</option>
            <option value="2">Choosing multiple answer options</option>
          </select>
        </div>
        <div *ngIf="submitted && questions.controls[i].get('typeAnswer')?.errors" class="invalid-feedback">
          <div *ngIf="questions.controls[i].get('typeAnswer')?.errors?.required"></div>
        </div>

        <div class="answers" formArrayName="answers">
          <div class="form-group" *ngFor="let answer of getAnswerControls(i);let j=index" [formGroupName]="j">
            <div >
              <h5>{{j+1}} option</h5>
              <input formControlName="option">
              <button type="button" class=" btn btn-danger ml-1" (click)="removeAnswerAt(i,j)">remove</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-sm" (click)="addAnswer(i)">Add answer</button>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-outline-danger" (click)="removeQuestionAt(i)">Delete</button>
        </div>
        <hr class="dashed">
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="addQuestion()">Add Question</button>
      </div>
    </div>
    <div class="text-center">
      <hr class="solid">
      <hr class="solid">
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block">Save</button>
      </div>
    </div>
  </div>
</form>
