<div>
  <div class="form-group">
    <label>Title</label>
    <input type="title" class="form-control" placeholder="Enter the title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" rows="3" placeholder="Enter the description"></textarea>
  </div>

  <hr class="solid">
</div>

<form [formGroup]='questionListControl'>
  <ui formArrayName="questions">
    <div class="form-group" *ngFor="let questionControl of getQuestionControls(); let i = index">
      <h3 class="text-center">{{i+1}} question</h3>
      <div class="form-group">
        <label>Question</label>
        <input type="title" class="form-control" placeholder="Enter the question">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01" style="background-color: #f16785;">Select the type of responses</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" (change)="onChange($event)">
          <option selected>Select...</option>
          <option value="1">Choosing one answer option</option>
          <option value="2">Choosing multiple answer options</option>
        </select>
      </div>

      <form [formGroup]='answerListControl' *ngIf="severalSelectedAnswers">
        <ui formArrayName="answers">
          <div class="form-group" *ngFor="let answerControl of getAnswerControls(); let j = index">
            <label class="form-check-label" for="defaultCheck1">
              <h5>{{j+1}} option</h5>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
                <button type="button" class=" btn btn-danger ml-1" (click)="removeAnswerAt(j)">remove</button>
              </div>

            </label>
          </div>
        </ui>
        <button type="button" class="btn btn-primary btn-sm" (click)="addAnswer()">Add answer</button>
      </form>

      <form [formGroup]='answerListControl' *ngIf="oneSelectedAnswer">
        <ui formArrayName="answers">
          <div class="form-group" *ngFor="let answerControl of getAnswerControls(); let j = index">
            <label class="form-check-label" for="defaultCheck1">
              <h5>{{j+1}} option</h5>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with radio button">
                <button type="button" class="btn btn-danger ml-1" (click)="removeAnswerAt(j)">remove</button>
              </div>

            </label>
          </div>
        </ui>
        <button type="button" class="btn btn-primary btn-sm" (click)="addAnswer()">Add answer</button>
      </form>

      <div class="text-center">
        <button type="button" class="btn btn-outline-danger" (click)="removeQuestionAt(i)">Remove</button>
      </div>
      <hr class="dashed">
    </div>
  </ui>
</form>

<div class="text-center">
  <button type="button" class="btn btn-primary" (click)="addQuestion()">Add question</button>
</div>

<div class="text-center">
  <hr class="solid">
  <hr class="solid">
  <button type="button" class="btn btn-success btn-lg btn-block">Save</button>
</div>



