<div class="container">
  <header class="jumbotron">
    <h1 class="display-4">Hello users!</h1>
    <p class="lead">To start using the questionnaire, log in or register.</p>
    <p class="lead">This application was developed by
      <a href="https://vk.com/rrrybnikov" target="_blank">Ivan Rybnikov</a>
    </p>
    <p class="lead">If you want to get acquainted with my other projects, visit my
      <a href="https://github.com/Rybnikov-Ivan" target="_blank">GitHub</a>
    </p>
  </header>
</div>
