<div class="container">
  <header class="jumbotron">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">All users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/designer" routerLinkActive="active">Create questionnaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">All questionaires</a>
      </li>
    </ul>
    <p>{{ content }}</p>
    <router-outlet></router-outlet>
  </header>
</div>
